.Logo {
  width: 90px;
  height: 60px;
  padding: 10px;
}

.Logo img {
  width: 100%;
}

@media (min-width: 800px) {
  .Logo {
    width: 170px;
    height: 120px;
    padding-top: 0;
  }

  .Logo img {
    width: 100%;
  }
}
