.Filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 5px;
}

.Filter input {
  padding: 4px 2px 4px 12px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.9);
  font-family: "Outfit", sans-serif;
  color: black;
  font-weight: bold;
}

@media (min-width: 800px) {
  .Filter {
    justify-content: flex-start;
  }
}
