.friend-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.friend-list-content {
  border-right: none;
  padding: 0.5% 3%;
  height: 100vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

.friend-list-header {
  margin-left: 6%;
}
