.NavBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0;
  font-family: "Outfit", sans-serif;
  color: whitesmoke;
}

.NavBar ul {
  padding-top: 0;
  display: flex;
  gap: 10px;
  list-style-type: none;
  text-transform: uppercase;
  font-size: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /*  padding-inline-start: 0px; */
}

.NavBar a {
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
  gap: 3px;
}

.NavBar ul img {
  height: 20px;
}

.NavBar a:hover {
  color: rgba(101, 0, 24, 1);
  font-weight: bolder;
}

.username {
  cursor: pointer;
  font-weight: bold;
}

.username:hover {
  color: rgba(101, 0, 24, 1);
  font-weight: bolder;
}

@media (min-width: 800px) {
  .NavBar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    font-family: "Outfit", sans-serif;
    color: whitesmoke;
  }

  .NavBar ul {
    font-size: 14px;
  }
}
