.LogIn {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}

.wrapper form input {
  padding: 4px 2px 4px 12px;
  height: 30px;
  border-radius: 8px;
  border: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}
