@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");

.App {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}

.mainSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 800px) {
  .App {
    flex-direction: row;
    align-items: flex-start;
  }

  .MessageList {
    max-width: 800px;
  }

  .friend-list {
    max-width: 250px;
  }
}
