@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");

.main-content {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow: hidden;
  border-radius: 5px;
}

.mainSection {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow-y: scroll;
}

@media (min-width: 800px) {
  .main-content {
    flex-direction: row;
    align-items: flex-start;
    overflow-y: hidden;
  }

  .MessageList {
    max-width: 800px;
  }

  .friend-list {
    max-width: 250px;
  }
}
